<article class="p-6 border bg-white">
  <div class="flex items-center gap-3">
    <img class="h-8 w-8 rounded-full bg-slate-800 m-0" />
    <h2 class="m-0">@mikeploythai</h2>
  </div>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem
    sunt, quod tempora optio repudiandae, aliquam a quaerat ea odio ratione
    voluptas perspiciatis odit nihil natus commodi assumenda sapiente quam
    distinctio.
  </p>

  <img class="aspect-video w-full bg-slate-800 m-0" />
</article>
